/* 
Title:		Style for vincentsimard.com/ (homepage)
Author: 	vincent@vincentsimard.com
*/



/* LAYOUT
--------------------------------------------- */

/* BASE STYLES
--------------------------------------------- */
body {
	background-color: #fff;
	background-image: url('../media/bg-hero-container.png');
	background-position: center 530px;
	background-repeat: no-repeat;
}



/* HERO SECTION (featured news items)
--------------------------------------------- */
/*
#hero-container_shadow:hover:after {
	background: url('../media/hero-caption.png') no-repeat right top;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -80px;
}
*/

#hero-container h2 {
	display: none;
}

#hero-home_1 {
	background-color: #1e6f9c;
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -moz-radial-gradient(center 45deg, circle closest-side, #1e6f9c 0%, #061e2b 250%);
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -webkit-gradient(radial, 50% 60%, 400, 50% 40%, 40, from(#061e2b), to(#1e6f9c));
}

#hero-home_2 {
	background-color: #51a305;
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -moz-radial-gradient(center 45deg, circle closest-side, #51a305 0%, #061e2b 250%);
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -webkit-gradient(radial, 50% 60%, 400, 50% 40%, 40, from(#061e2b), to(#51a305));
}

#hero-home_3 {
	background-color: #c00589;
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -moz-radial-gradient(center 45deg, circle closest-side, #c00589 0%, #061e2b 250%);
	background-image: url('../media/bg-grid_pattern_white_80x80.png'), -webkit-gradient(radial, 50% 60%, 400, 50% 40%, 40, from(#061e2b), to(#c00589));
}

/*
#hero-container .slider #hero-home_3 {
	padding-right: 480px;
	width: 400px;
}

.hero .hero-img figcaption {
	bottom: 364px;
	display: none;
	position: absolute;
	right: 242px;
}

.hero .hero-img:hover figcaption {
	display: block;
}
*/

#hero-home_2 h3 {
	display: inline;
	float: left;
	font-size: 80px;
	line-height: 76px;
	width: 300px;
}

#hero-home_2 ul {
	display: inline;
	float: left;
	margin: 25px 0 0;
	width: 480px;
}

#hero-home_2 li {
	background: url("../media/bullet-checkmark_white.png") no-repeat scroll 10px 0.15em transparent;
	float: left;
	font-size: 24px;
	line-height: 1;
	list-style-type: none;
	margin-left: 0;
	padding-left: 40px;
	width: 190px;
}

#hero-home_2 p.more {
	clear: both;
	position: relative;
	top: -52px;
}

#hero-home_3 a {
	color: #eee;
	text-decoration: none;
}

#hero-home_3 em {
	font-size: smaller;
}
