/* 
Title:		Styles and hacks for ie7 and older for screen media
Author: 	vincent@vincentsimard.com
*/

/*
* html * {
	display: none;
}
*/

/*
#document {
	background: url(../media/ie_slim.jpg) no-repeat top center;
	overflow: auto;
}
*/

#ala-banner {
	display: none;
}

#document > header .mainnav {
	left: 50%;
	margin-left: -470px;
}

#document {
	background: url(../media/ie.jpg) no-repeat top center;
	padding-top: 40px;
	overflow: auto;
}

body { background-position: 0 170px; }
#hero-container { margin-top: -200px; }
.hero .hero-img > img { bottom:-10px; }
.hero .hero-img figcaption { bottom:344px; }